---
layout: page
---


        <!-- Page Title -->
        <section class="page-title" style="background-image: url(assets/images/background/page-title.jpg);">
            <div class="auto-container">
                <div class="content-box">
                    <div class="title">
                        <h1>About Company</h1>
                    </div>
                    <ul class="bread-crumb clearfix">
                        <li><a href="/">Home</a></li>
                        <li>About</li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- End Page Title -->


        <!-- about-style-seven -->
        <section class="about-style-seven sec-pad">
            <div class="auto-container">
                <div class="row clearfix">
                    <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                        <div class="content_block_15">
                            <div class="content-box">
                                <div class="sec-title">
                                    <div class="top-title">
                                        <div class="shape">
                                            <div class="line line-1"></div>
                                            <div class="line line-2"></div>
                                            <div class="line line-3"></div>
                                            <div class="line line-4"></div>
                                            <div class="bg-shape" style="background-image: url(assets/images/icons/bg-shape-5.png);"></div>
                                        </div>
                                        <p>About Company</p>
                                    </div>
                                    <h2>We are nationwide CCTV service specialists</h2>
                                </div>
                                <div class="inner-box">
                                    <figure class="image-box"><img src="assets/images/resource/award-1.png" alt=""></figure>
                                    <figure class="year-box"><img src="assets/images/icons/year-2.png" alt=""></figure>
                                    <h3>Years of experience</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                        <div class="content_block_16">
                            <div class="content-box">
                                <div class="text">
                                    <p><span>We</span> teachings of the great explorer of the truth the master some of happiness. No one rejects dislikes or avoids pleasure we get itself because who do not know how to pursue pleasure.</p>
                                </div>
                                <div class="inner-box">
                                    <div class="single-item">
                                        <div class="icon-box"><i class="icon-pharmacy"></i></div>
                                        <span>Blackcats in</span>
                                        <h4>Commercial area</h4>
                                        <p>Complete account of the system, and expound the actual.</p>
                                    </div>
                                    <div class="single-item">
                                        <div class="icon-box"><i class="icon-building1"></i></div>
                                        <span>Blackcats in</span>
                                        <h4>Residential area</h4>
                                        <p>Nor again is there anyone loves or pursues or desires too.</p>
                                    </div>
                                </div>
                                {% include snippets/author.html %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- about-style-seven end -->


        <!-- video-section -->
        <section class="video-section">
            <div class="auto-container">
                <div class="inner-container">
                    <div class="video-inner" style="background-image: url(assets/images/background/video-1.jpg);">
                        <div class="video-btn">
                            <a href="https://www.youtube.com/watch?v=nfP5N9Yc72A&amp;t=28s" class="lightbox-image" data-caption="">
                                <i class="fas fa-play"></i>
                                <span class="border-animation border-1"></span>
                                <span class="border-animation border-2"></span>
                                <span class="border-animation border-3"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- video-section end -->


        <!-- chooseus-style-three -->
        <section class="chooseus-style-three" style="background-image: url(assets/images/background/chooseus-bg.jpg);">
            <div class="auto-container">
                <div class="row clearfix">
                    <div class="col-lg-3 col-md-6 col-sm-12 chooseus-block">
                        <div class="chooseus-block-two">
                            <div class="inner-box">
                                <div class="light-icon"><i class="icon-shield"></i></div>
                                <div class="icon-box"><i class="icon-winner"></i></div>
                                <h4>#1 company</h4>
                                <p>To take a trivial example us ever undertakes laborious exercise except.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 chooseus-block">
                        <div class="chooseus-block-two">
                            <div class="inner-box">
                                <div class="light-icon"><i class="icon-shield"></i></div>
                                <div class="icon-box"><i class="icon-personal-security"></i></div>
                                <h4>Licensed</h4>
                                <p>Must explain to you how all this mistaken idea of pain give you complete.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 chooseus-block">
                        <div class="chooseus-block-two">
                            <div class="inner-box">
                                <div class="light-icon"><i class="icon-shield"></i></div>
                                <div class="icon-box"><i class="icon-badge"></i></div>
                                <h4>Top Notch</h4>
                                <p>The great explorer of the truth the master-builders off human happiness.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 chooseus-block">
                        <div class="chooseus-block-two">
                            <div class="inner-box">
                                <div class="light-icon"><i class="icon-shield"></i></div>
                                <div class="icon-box"><i class="icon-24-hours1"></i></div>
                                <h4>24-Hour Service</h4>
                                <p>Do not know how to pleasure rationally encounter tremely painful.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- chooseus-style-three end -->


       {% include snippets/history.html%}


        <!-- funfact-section -->
        <section class="funfact-section style-two sec-pad" style="background-image: url(assets/images/background/funfact-bg-2.jpg);">
            <div class="auto-container">
                <div class="row clearfix">
                    <div class="col-lg-4 col-md-12 col-sm-12 title-column">
                        <div class="sec-title light">
                            <div class="top-title">
                                <div class="shape">
                                    <div class="line line-1"></div>
                                    <div class="line line-2"></div>
                                    <div class="line line-3"></div>
                                    <div class="line line-4"></div>
                                    <div class="bg-shape" style="background-image: url(assets/images/icons/bg-shape-2.png);"></div>
                                </div>
                                <p>Company Facts</p>
                            </div>
                            <h2>Interesting & amazing facts</h2>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-12 col-sm-12 counter-column">
                        <div class="counter-content centred">
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-6 col-sm-12 counter-block">
                                    <div class="counter-block-one wow slideInUp animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                                        <div class="inner-box">
                                            <div class="icon-box"><i class="icon-shield-2"></i></div>
                                            <div class="count-outer count-box">
                                                <span>0</span><span class="count-text" data-speed="1500" data-stop="04">0</span><span class="symble">+</span>
                                            </div>
                                            <h5>Years of experience</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-12 counter-block">
                                    <div class="counter-block-one wow slideInUp animated" data-wow-delay="200ms" data-wow-duration="1500ms">
                                        <div class="inner-box">
                                            <div class="icon-box"><i class="icon-police-1"></i></div>
                                            <div class="count-outer count-box">
                                                <span class="count-text" data-speed="1500" data-stop="127">0</span>
                                            </div>
                                            <h5>Team members</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-12 counter-block">
                                    <div class="counter-block-one wow slideInUp animated" data-wow-delay="400ms" data-wow-duration="1500ms">
                                        <div class="inner-box">
                                            <div class="icon-box"><i class="icon-diamond"></i></div>
                                            <div class="count-outer count-box">
                                                <span class="count-text" data-speed="1500" data-stop="2.8">0</span><span class="symble">k</span>
                                            </div>
                                            <h5>Objects Protected</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-12 counter-block">
                                    <div class="counter-block-one wow slideInUp animated" data-wow-delay="600ms" data-wow-duration="1500ms">
                                        <div class="inner-box">
                                            <div class="icon-box"><i class="icon-building-1"></i></div>
                                            <div class="count-outer count-box">
                                                <span class="count-text" data-speed="1500" data-stop="36">0</span>
                                            </div>
                                            <h5>Corporate Offices</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- funfact-section end -->


        <!-- team-style-two -->
        <section class="team-style-two alternat-2 sec-pad">
            <div class="auto-container">
                <div class="sec-title centred">
                    <div class="top-title">
                        <div class="shape">
                            <div class="line line-1"></div>
                            <div class="line line-2"></div>
                            <div class="line line-3"></div>
                            <div class="line line-4"></div>
                            <div class="bg-shape" style="background-image: url(assets/images/icons/bg-shape.png);"></div>
                        </div>
                        <p>Team Memmbers</p>
                    </div>
                    <h2>Meet our professional team</h2>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-4 col-md-6 col-sm-12 team-block">
                        <div class="team-block-two">
                            <div class="inner-box">
                                <figure class="image-box"><img src="assets/images/team/team-8.jpg" alt=""></figure>
                                <div class="content-box">
                                    <div class="share-option">
                                        <i class="icon-share share-icon"></i>
                                        <ul class="share-links clearfix">
                                            <li><a href="index-7.html"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="index-7.html"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="index-7.html"><i class="fab fa-linkedin-in"></i></a></li>
                                        </ul>
                                    </div>
                                    <span class="designation">Founder</span>
                                    <h4><a href="index-7.html">David Luponis</a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 team-block">
                        <div class="team-block-two">
                            <div class="inner-box">
                                <figure class="image-box"><img src="assets/images/team/team-9.jpg" alt=""></figure>
                                <div class="content-box">
                                    <div class="share-option">
                                        <i class="icon-share share-icon"></i>
                                        <ul class="share-links clearfix">
                                            <li><a href="index-7.html"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="index-7.html"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="index-7.html"><i class="fab fa-linkedin-in"></i></a></li>
                                        </ul>
                                    </div>
                                    <span class="designation">Director</span>
                                    <h4><a href="index-7.html">Peshotan Mehta</a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 team-block">
                        <div class="team-block-two">
                            <div class="inner-box">
                                <figure class="image-box"><img src="assets/images/team/team-10.jpg" alt=""></figure>
                                <div class="content-box">
                                    <div class="share-option">
                                        <i class="icon-share share-icon"></i>
                                        <ul class="share-links clearfix">
                                            <li><a href="index-7.html"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="index-7.html"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="index-7.html"><i class="fab fa-linkedin-in"></i></a></li>
                                        </ul>
                                    </div>
                                    <span class="designation">Hr Manager</span>
                                    <h4><a href="index-7.html">Peter Fransisco</a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="more-text centred"><a href="team.html">Meet all members<i class="fas fa-angle-right"></i></a></div>
            </div>
        </section>
        <!-- team-style-two end -->
