<!-- cctv-section -->
        <section class="cctv-section" style="background-image: url(assets/images/background/cctv-bg.jpg);">
            <div class="tabs-box">
                <div class="tab-btn-box">
                    <div class="auto-container">
                        <ul class="tab-btns tab-buttons clearfix">
                            <li class="tab-btn active-btn" data-tab="#tab-1"><i class="icon-pharmacy"></i> Commercial CCTV System</li>
                            <li class="tab-btn" data-tab="#tab-2"><i class="icon-building1"></i>Residential CCTV System</li>
                        </ul>
                    </div>
                </div>
                <div class="auto-container">
                    <div class="tabs-content">
                        <div class="tab active-tab" id="tab-1">
                            <div class="row clearfix">
                                <div class="col-lg-2 col-md-6 col-sm-12 single-column">
                                    <div class="single-item">
                                        <figure class="icon-box"><img src="assets/images/icons/icon-1.png" alt=""></figure>
                                        <h5>Bullet Cameras</h5>
                                        <div class="link"><a href="index-2.html"><i class="icon-down-chevron"></i></a></div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-6 col-sm-12 single-column">
                                    <div class="single-item">
                                        <figure class="icon-box"><img src="assets/images/icons/icon-2.png" alt=""></figure>
                                        <h5>Dome Cameras</h5>
                                        <div class="link"><a href="index-2.html"><i class="icon-down-chevron"></i></a></div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-6 col-sm-12 single-column">
                                    <div class="single-item">
                                        <figure class="icon-box"><img src="assets/images/icons/icon-3.png" alt=""></figure>
                                        <h5>PTZ Cameras</h5>
                                        <div class="link"><a href="index-2.html"><i class="icon-down-chevron"></i></a></div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-6 col-sm-12 single-column">
                                    <div class="single-item">
                                        <figure class="icon-box"><img src="assets/images/icons/icon-4.png" alt=""></figure>
                                        <h5>Box Cameras</h5>
                                        <div class="link"><a href="index-2.html"><i class="icon-down-chevron"></i></a></div>
                                    </div>
                                </div>
                                
                                <div class="col-lg-2 col-md-6 col-sm-12 single-column">
                                    <div class="single-item">
                                        <figure class="icon-box"><img src="assets/images/icons/icon-6.png" alt=""></figure>
                                        <h5>IP Cameras</h5>
                                        <div class="link"><a href="index-2.html"><i class="icon-down-chevron"></i></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab" id="tab-2">
                            <div class="row clearfix">
                                <div class="col-lg-2 col-md-6 col-sm-12 single-column">
                                    <div class="single-item">
                                        <figure class="icon-box"><img src="assets/images/icons/icon-1.png" alt=""></figure>
                                        <h5>Bullet Cameras</h5>
                                        <div class="link"><a href="index-2.html"><i class="icon-down-chevron"></i></a></div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-6 col-sm-12 single-column">
                                    <div class="single-item">
                                        <figure class="icon-box"><img src="assets/images/icons/icon-2.png" alt=""></figure>
                                        <h5>Dome Cameras</h5>
                                        <div class="link"><a href="index-2.html"><i class="icon-down-chevron"></i></a></div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-6 col-sm-12 single-column">
                                    <div class="single-item">
                                        <figure class="icon-box"><img src="assets/images/icons/icon-3.png" alt=""></figure>
                                        <h5>Target Cameras</h5>
                                        <div class="link"><a href="index-2.html"><i class="icon-down-chevron"></i></a></div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-6 col-sm-12 single-column">
                                    <div class="single-item">
                                        <figure class="icon-box"><img src="assets/images/icons/icon-4.png" alt=""></figure>
                                        <h5>Box Cameras</h5>
                                        <div class="link"><a href="index-2.html"><i class="icon-down-chevron"></i></a></div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-6 col-sm-12 single-column">
                                    <div class="single-item">
                                        <figure class="icon-box"><img src="assets/images/icons/icon-5.png" alt=""></figure>
                                        <h5>Tilt Cameras</h5>
                                        <div class="link"><a href="index-2.html"><i class="icon-down-chevron"></i></a></div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-6 col-sm-12 single-column">
                                    <div class="single-item">
                                        <figure class="icon-box"><img src="assets/images/icons/icon-6.png" alt=""></figure>
                                        <h5>IP Cameras</h5>
                                        <div class="link"><a href="index-2.html"><i class="icon-down-chevron"></i></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="more-text centred"><p>Providing Smart security for the smart generation. <a href="index-2.html">Let’s Get Started</a></p></div>
                </div>
            </div>
        </section>
        <!-- cctv-section end -->