        <!-- main-footer -->
        <footer class="main-footer">
            <div class="footer-top">
                <div class="bg-layer" style="background-image: url(assets/images/background/footer-bg.jpg);"></div>
                <div class="auto-container">
                    <div class="widget-section">
                        <div class="row clearfix">
                            <div class="col-lg-4 col-md-6 col-sm-12 footer-column">
                                <div class="footer-widget logo-widget">
                                    <figure class="footer-logo"><a href="index-2.html"><img src="assets/images/footer-logo.png" alt=""></a></figure>
                                    <div class="support-box">
                                        <h4><a href="tel:8001234567">800-123-4567</a></h4>
                                        <p>Call for free consultation!</p>
                                    </div>
                                    <div class="text">
                                        <p>Right to find fault with a man who chooses too enjoy a pleasures that annoying consequences.</p>
                                        <a href="index-2.html">Read more<i class="fas fa-angle-right"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 footer-column">
                                <div class="footer-widget links-widget">
                                    <div class="widget-title">
                                        <h3>Useful Links</h3>
                                    </div>
                                    <div class="widget-content clearfix">
                                        <ul class="links-list clearfix">
                                            <li><a href="index-2.html">About Company</a></li>
                                            <li><a href="index-2.html">Leadership</a></li>
                                            <li><a href="index-2.html">Blog Post</a></li>
                                            <li><a href="index-2.html">FAQ’s</a></li>
                                            <li><a href="index-2.html">Certification</a></li>
                                            <li><a href="index-2.html">Testimonials</a></li>
                                        </ul>
                                        <ul class="links-list clearfix pl-25">
                                            <li><a href="index-2.html">Services</a></li>
                                            <li><a href="index-2.html">Industries</a></li>
                                            <li><a href="index-2.html">Feedback</a></li>
                                            <li><a href="index-2.html">Partners</a></li>
                                            <li><a href="index-2.html">Pricing</a></li>
                                            <li><a href="index-2.html">Contact Us</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="footer-info">
                        <ul class="info-list clearfix">
                            <li>
                                <i class="icon-location"></i>
                                <h6>Location</h6>
                                <p>Near kokila Villa,Botanda,BBSR</p>
                            </li>
                            <li>
                                <i class="icon-email-1"></i>
                                <h6>Mail us</h6>
                                <p><a href="mailto:support@example.com">worryfreetechnology4@gmail.com</a></p>
                            </li>
                            <li>
                                <i class="icon-clock"></i>
                                <h6>Office hrs</h6>
                                <p>9.00am to 7.00pm (Mon_Sat)</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="auto-container">
                    <div class="bottom-inner clearfix">
                        <div class="copyright pull-left">
                            <p>&copy; 2021 <a href="index-2.html">Worryfree</a>, All Rights Reserved.</p>
                        </div>
                        <ul class="footer-nav pull-right clearfix">
                            <li><a href="index-2.html">Privacy Policy</a></li>
                            <li><a href="index-2.html">Terms & Conditions</a></li>
                            <li><a href="index-2.html">Site Map</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <!-- main-footer end -->
